<section id="home" data-level="USER">
    <h1>Your VMs</h1>
    <article class="itemsRow" data-geturl="/virtual_machine">
        <span class="datalist" data-copy="false">
            <article class="profile">
                <img src="vm.png" alt="vm">
                <h3 data-title></h3>
                <ins data-timestamp></ins>
                <ins data-state></ins>
            </article>
            <article class="boutonCadre">
                <a href="#" data-seturl="/virtual_machine/link" data-title data-callback="linkthis">View</a>
            </article>
            <article class="info">
                <h2 data-create></h2>
            </article>
        </span>
    </article>
</section>