<section id="left" data-level="USER">
    <article class="profile" data-geturl="/user/get_me">
        <img src="user.png" alt="profile">
        <h3><span  data-first_name></span><span data-last_name></span></h3>
        <h3 data-email></h3>
    </article>
    <!--<article class="info" data-geturl="/user/info">
        <p data-copy="false">
            <strong data-title>value:</strong>
            <span data-value>some data</span>
        </p>
    </article>-->
    <article class="boutonCadre">
        <a href="#" data-seturl="/user/disconnect" data-callback="deluser">Logout</a>
        <a href="#navigation" data-need="ADMIN">Dashbord</a>
    </article>
</section>