<section id="navigation" data-level="USER">
        <h1>Dashboard</h1>
    <article>
        <a href="#userland" data-need="ADMIN">
            Manage user
        </a>
        <a href="#virtualmangment" data-need="ADMIN">
            Manage vm
        </a>
        <a href="#home">
            Return
        </a>
    </article>
</section>