{{#*inline "head"}}
    <title>Desktop Mania</title>
    <link rel="stylesheet" href="base.css">
    <script type="text/javascript" src="base.js"></script>
    <link rel="stylesheet" href="complete.css">
    <script type="text/javascript" src="complete.js"></script>
{{/inline}}


{{#*inline "page"}}
{{> section/login}}
{{> section/home}}
{{> section/navigation}}
{{> section/userland}}
{{> section/left}}

{{> section/virtualmangment}}
{{> section/loading}}
{{> section/info}}
{{/inline}}
{{> layout}}