{{#*inline "head"}}
<title>Desktop Mania</title>
<link rel="stylesheet" href="/base.css">
<link rel="stylesheet" href="/complete.css">
{{/inline}}


{{#*inline "page"}}
<section id="login" data-level="NONE">
    <span style="position: absolute">
        {{{ image }}}
    </span>
    <article>

        <form name="add" method="post" action="/extra/add/{{ path }}">
            <fieldset class="basicForm">
                <h2>Login</h2>
                <input type="password" title="your new password" name="password" autocomplete="off" autofocus
                    placeholder="password">
                <input type="password" title="your new password" name="try_password" autocomplete="off" autofocus
                    placeholder="password">
                <input type="text" title="your code" name="code" autocomplete="off" autofocus
                    placeholder="ex:a5f-6er-15m">
                <input type="text" name="secret" value="{{ secret }}" readonly>

            </fieldset>
            <fieldset class="boutonCadre">
                <input type="submit" value="Send">
            </fieldset>
        </form>
    </article>
</section>
{{/inline}}

{{> layout}}